.empProfWidgetImgs {
    cursor:pointer;
    width:66px;
    height:66px;
}
#divMeetUs {
    width:265px;
    font-family:Arial;
}
#divHeaderText {
    color:#003461;
    font-size:1.5em;   
}
#divMeetUs h3 {
    color:#e27522;
    font-size:1.2em;
    margin:11px 0 6px 0;
}
#divMeetUs .subHeaders {
    color:#345e86;
    font-size:1.1em;
}
#divMeetUs p {
    color;#717171;
    font-size:1em;
}
/*
     FILE ARCHIVED ON 16:53:59 Jan 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:08:27 Nov 22, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 17.924
  CDXLines.iter: 14.232 (3)
  PetaboxLoader3.datanode: 73.841 (5)
  LoadShardBlock: 100.121 (3)
  exclusion.robots.policy: 0.207
  esindex: 0.011
  load_resource: 279.588
  captures_list: 136.007
  PetaboxLoader3.resolve: 177.03 (3)
  exclusion.robots: 0.223
*/