        #fade
        {
            display: none;
            background: #000;
	        position: fixed; left: 0; top: 0; 
            z-index: 10;
	        width: 100%; height: 100%;
            opacity: .7;
            z-index: 9999;
        }
        .popup_block {
            display: none;
            float: left;
            font-size: 1.2em;
            position: fixed;
	        top: 50%; left: 50%;
            z-index: 99999;
            padding: 15px;
            background: white;
        }
        .popup_block .background {
            background: #e2edf2;
            padding: 15px;
            border: 1px solid #b2b9bd;
        }
        img.btn_close {
            float: right;
	        margin: 20px 20px 0 0; 
	        *margin-left: -30px;
	        *position: relative;
        }

        /*-- Making IE6 Understand Fixed Positioning --*/
        *html #fade {
            _position: absolute;
        }
        *html .popup_block {
            _position: absolute;
        }
/*
     FILE ARCHIVED ON 16:53:59 Jan 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:08:21 Nov 22, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.12
  exclusion.robots: 0.13
  LoadShardBlock: 105.828 (3)
  PetaboxLoader3.datanode: 93.959 (5)
  captures_list: 141.585
  load_resource: 115.417
  esindex: 0.011
  CDXLines.iter: 14.001 (3)
  RedisCDXSource: 14.419
  PetaboxLoader3.resolve: 94.062 (2)
*/