/* 
	Talentbrew - Fixit Stylesheet
	Michael Spellacy, Director, UI Development <michael.spellacy[at]tmp.com>, TMP Worldwide, LLC
*/

.wai-aria {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
text-indent: -999em;
overflow: hidden;
display: block;
}
/*
     FILE ARCHIVED ON 16:53:59 Jan 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:08:20 Nov 22, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.053
  CDXLines.iter: 15.77 (3)
  PetaboxLoader3.datanode: 213.685 (5)
  RedisCDXSource: 12.038
  exclusion.robots: 0.24
  PetaboxLoader3.resolve: 226.749 (2)
  captures_list: 278.605
  load_resource: 300.768
  exclusion.robots.policy: 0.226
  LoadShardBlock: 226.103 (3)
*/