/* Stylesheet dsy.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size: 40px; 
    color: white;
    text-align: center;
}

.tagline {
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
	text-shadow: 2px 2px 4px black;
}

.line {
    color: #eb1010;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #eb1010;
    /* orange - deep */
}

header {
    border: 1px solid #d4d4d4;
    padding-top: 16px;
    background-size: cover; 
    background-position: center center; 
    background-image: url("purpleimg.jpg"); 
    background-color: purple;
}

footer {
    border: 1px solid #d4d4d4;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #ffffffdc;
    color: whit;
    background-size: cover; 
    background-position: center center; 
    background-image: url("purpleimg.jpg"); 
    background-color: purple;
}

/* Navigation Horizontal */
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 2px solid black;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a:hover:not(.active) {
    background-color: #eb6810;
}

.active {
    background-color: green;
}


.navhoriz {
    display: inline;
    
}
/* End navigation styles. */


.imgleft {
    float: left;
    border: 1px dotted black;
    margin: 0px 20px 10px 0px;
}

.ulpad {
    width: 900px;
    height: 400px;    
    padding: 0 0 0 16px;
    margin: 16px;
    border: 1px solid red;
    box-sizing: border-box;
    background-color: bisque;
}

.grid-container {
    display: grid;
    grid-template-areas: 'photo text text text text';
    border: 1px dotted gray
}

.photo {
    grid-area: photo;
}

.text {
    grid-area: text;
}

.purple {
    background-color: #b532d6;
}

